::-webkit-scrollbar { 
    display: none; 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: #030303;
    height: auto;
}

#Homepage {
    width: 100%;    
}

#TEDxLogo {
    padding: 30px 0 0 30px;
    height: auto;
    width: 33%;
}

#Heading {
    color: #fff;
    font-size: 8em;
    padding-left: 30px;
    box-shadow: 0 3px 5px rgb(116,116,116);
}

/****************************
      NAVIGATION MENU
****************************/

p {
    padding: 40px 40px 0 0;
    display: inline-block;
    float: right;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 20px;
    border-bottom: 4px solid #111111;
}

a:hover {
    border-bottom: 4px solid red;
    transition: all 0.3s ease;
}

a:active {
    transition: opacity 0.3s ease;
    border-bottom: 4px solid #fff;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

/****************************
            BODY
****************************/

#About1 {
    margin-left: 60px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: normal;
    float: none;
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 5px solid red;
}

#About2 {
    margin-left: 60px;
    width: 60%;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    display: normal;
    float: none;
    font-size: 1.5em;
    font-weight: lighter;
}
